.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__left
      .Chat-main__group-info__left__group
        = @group.name
      .Chat-main__group-info__left__member
        Member : 
        - @group.users.each do |user|
          = user.name
    .Chat-main__group-info__edit-btn
      = link_to edit_group_path(@group), class: "Link-btn" do
        Edit
  .Chat-main__message-list
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Chat-main__message-form__form"}, local: true do |f|
      .Chat-main__message-form__form__input-box
        = f.text_field :content, class: 'Chat-main__message-form__form__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'Chat-main__message-form__form__input-box__image' do
          = icon('far', 'image', class: 'Chat-main__message-form__form__input-box__image__icon')
          = f.file_field :image, class: 'Chat-main__message-form__form__input-box__image__btn'
      = f.submit 'Send', class: 'Chat-main__message-form__form__send-btn'


